@model ML.Usuario
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Usuario</h2>
    <p>Aqui podra ver los datos relacionados con el usuario asi como editar y eliminar</p>  
</div>

<div style="float:right;">
    @Html.ActionLink("Agregar", "Form", "Usuario", htmlAttributes: new { @class = "btn btn-success" })
</div>


    @using (Html.BeginForm("GetAll", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class=" row">
            <p>Busqueda avanzada</p>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.Roles, "IdRol", "NombreRol"), "Selecciona una opción", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Rol.IdRol) @*Enviar la informacion del RDL*@
            </div>

            <div class="col-md-3">
                @Html.TextBoxFor(model => model.NombreUsuario, new { @class = "form-control", @placeholder = "Nombre" })
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.ApellidoPaternoU, new { @class = "form-control", @placeholder = "Apellido Paterno" })
            </div>
            <div class="col-md-3">
                <input type="submit" value="Buscar" class="btn btn-info" />
        </div>
    </div>
    }




    <div class=" row">
    <table class=" table table-responsive" id="tblUsuario">
            <thead>
                <tr>
                    @*<th>Hace referencia a las cabeceras de la tabla</th>*@
                    <th>Editar</th>
                    <th class=" d-none">IdUsuario</th> @*se oculta el id del usuario ya que no es necesario el mostrarlo*@
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Genero</th>
                    <th class="d-none">Password</th>
                    <th>Telefono</th>
                    <th>Celular</th>
                    <th>Curp</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th class="d-none">Rol</th>
                    <th>Rol del Usuario</th>
                    <th class="d-none">Direccion</th>
                    <th>Direccion</th>
                    <th>Imagen</th>

                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                @foreach (ML.Usuario usuario in Model.Usuarios)
                {
                    <tr>
                        @*Boton de editar*@
                        <td class="text-center"><a class="bi bi-pencil-square btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Usuario", new { IdUsuario = usuario.IdUsuario})"></a></td>
                        <td class="d-none">@usuario.IdUsuario</td>
                        <td>@usuario.NombreUsuario @usuario.ApellidoPaternoU @usuario.ApellidoMaternoU</td> @*se concatena para que muestre todo junto*@
                        <td>@usuario.FechaNacimiento</td>
                        <td>@usuario.Genero</td>
                        <td class="d-none">@usuario.Password</td>
                        <td>@usuario.Telefono</td>
                        <td>@usuario.Celular</td>
                        <td>@usuario.Curp</td>
                        <td>@usuario.UserName</td>
                        <td>@usuario.Email</td>
                        <td class="d-none">@usuario.Rol.IdRol</td>
                        <td>@usuario.Rol.NombreRol</td>

                        <td class="d-none">@usuario.Direccion.IdDireccion</td>
                        <td>@usuario.Direccion.Colonia.Municipio.Estado.Pais.NombrePais, Estado: @usuario.Direccion.Colonia.Municipio.Estado.NombreEstado, Municipio/Condado: @usuario.Direccion.Colonia.Municipio.NombreMunicipio,Colonia: @usuario.Direccion.Colonia.NombreColonia, Calle: @usuario.Direccion.Calle, Numero interior: @usuario.Direccion.NumeroInterior, Numero Exterior: @usuario.Direccion.NumeroExterior</td>

                        @if (usuario.Imagen != null)
                        {
                            <td><img src="data:image/*;base64, @usuario.Imagen" style="height:100px; width:100px;" /></td>
                        }
                        else
                        {
                            <td><img id="Img" src="~/Imagen/NoFoto.jpg" style=" height:100px; width:100px;" /></td>
                        }

                        <td class="text-center"><a class="bi bi-file-earmark-x-fill btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Usuario", new { IdUsuario = usuario.IdUsuario })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts
    {

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.material.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tblUsuario').DataTable({
                searching: false,
                "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
                autoWidth: false,
                columnDefs: [
                    {
                        targets: ['_all'],
                        className: 'mdc-data-table__cell',
                    },
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                },
            });
        });
    </script>

}

